@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
* {
margin: 0;
padding: 0;
}

.DropDown1 {
  height: 50px;
  width: 100px;
  background-color: #E7E9EB;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Lexend Exa', sans-serif;
}
.DropDown1:hover {
  background-color: #04AA6D;
}
.DropDown1:focus {
  background-color: #04AA6D;
}
ul {
    list-style-type: none;
    background-color: #E7E9EB;
    width: 100vw;
  display: none;
  }

  li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    font-family: 'Lexend Exa', sans-serif;
  }
  li a:hover {
    background-color: #04AA6D;
  }
.show {display:block;}

@media (min-width: 40em) {
  
  .DropDown1 {
    display: none;
  }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #E7E9EB;
        display: flex;
      }
      li {
          margin-right: 25px;
      }
      li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #04AA6D;
      }
}
.login a {
  display: block;
  height: 40px;
  width: 100px;
        color: white;
        text-align: center;
        text-decoration: none;
  background-color: #04AA6D;
  font-size: 15px;
  font-family: 'Lexend Exa', sans-serif;
   font-weight: 800;
  position: absolute;
  top: 6px;
  right: 10px;
  line-height: 2.44;
  border-radius: 40px;
}
.login a:hover {
  opacity: 0.9;
}
nav {
  background-color: #E7E9EB;
}
.ist {
    height: 370px;
    background-color: #282A35;
}

.ist > h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    position: relative;
    top: 65px;
    
}

.ist > p {
    font-size:19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 75px;
}

.ististlink {
  display: block;
  box-sizing: border-box;
  width: 200px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Lexend Exa', sans-serif;
  padding: 8px 16px;
  background-color: #04AA6D;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  margin: auto;
  position: relative;
    top: 105px;
}

.istseclink {
    display: block;
    box-sizing: border-box;
    width: 200px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Lexend Exa', sans-serif;
  padding: 8px 16px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  margin: auto;
  position: relative;
    top: 125px;
}

.sec {
    height: 370px;
    background-color: #D9EEE1; 
}

.sec > h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: black;
    text-align: center;
    position: relative;
    top: 65px;
      
}

.sec > p {
    font-size:19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 75px;
}

.thr {
    height: 370px;
    background-color: #FFF4A3;
}

.thr > h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: black;
    text-align: center;
    position: relative;
    top: 65px;
      
}

.thr > p {
    font-size:19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 75px;
}

.for {
    height: 370px;
    background-color: #282A35;
}

.for > h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    position: relative;
    top: 65px;
    
}

.for > p {
    font-size:19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 75px;
}

.fif {
    height: 370px;
    background-color: #E7E9EB;
}

.fif > h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: black;
    text-align: center;
    position: relative;
    top: 65px;
      
}

.fif > p {
    font-size:19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 75px;
}

.six {
  height: 110vh; 
  background-color: #282A35;
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 240px 240px;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.a {
  background-color: #FFC0C7;
  border-radius: 5px;
}
.b {
  background-color: #FFF4A3;
  border-radius: 5px;
}
.c {
  background-color: #F3ECEA;
  border-radius: 5px;
}
.d {
  background-color: #D9EEE1;
  border-radius: 5px;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: black;
  text-align: center;
  position: relative;
  top: 25px;
}
.different {
  font-size:19px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-align: center;
  font-weight: 500;
  position: relative;
  top: 35px;
}
.istthirdlink {
  display: block;
    box-sizing: border-box;
    width: 200px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Lexend Exa', sans-serif;
  padding: 8px 16px;
  background-color: #282A35;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  margin: auto;
  position: relative;
    top: 65px;
}
@media (max-width: 800px) {
  .six {
  height: 1200px; 
  background-color: #282A35;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.a {
  height: 248px;
  width: 80vw;
  background-color: #FFC0C7;
  border-radius: 5px;
}
.b {
 height: 248px;
  width: 80vw;
  background-color: #FFF4A3;
  border-radius: 5px;
}
.c {
  height: 248px;
  width: 80vw;
  background-color: #F3ECEA;
  border-radius: 5px;
}
.d {
  height: 248px;
  width: 80vw;
  background-color: #D9EEE1;
  border-radius: 5px;
}
}



.sev {
    height: 120vh;
    background-color: #E7E9EB;
}
.sev > h1 {
  font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: black;
    text-align: center;
    position: relative;
    top: 50px;
    
}
.sev > p {
  font-size:19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 60px;
    
}
.jmn {
  display: block;
  box-sizing: border-box;
  width: 200px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Lexend Exa', sans-serif;
  padding: 8px 16px;
  background-color: #04AA6D;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  margin: auto; /*margin property to auto to horizontally center the element within its container*/
  position: relative;
   top: 80px; 
}
.todo {
  position: relative;
   top: 65px;
}
.eig {
    height: 546px;
    background-color: #96D4D4;
}
.eig > h1 {
  font-family: 'Freckle Face', cursive;
  font-size: 60px;
  font-weight: 800;
  color: black;
  text-align: center;
  position: relative;
  top: 75px;
}
.eig > h2 {
  font-family:  'Freckle Face', cursive;
  font-size: 32px;
  font-weight: 800;
  color: black;
  text-align: center;
  position: relative;
  top: 85px;
}
.eig > p {
  position: relative;
  top: 105px;
  text-align: center;
}

.nin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282A35;
}
.link {
  display: block;
  box-sizing: border-box;
  min-width: 300px;
  width: 80vw;
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-family: 'Lexend Exa', sans-serif;
  padding: 17px;
  background-color: #04AA6D;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin: 20px;
}
.nin > h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: white;
  text-align: center;
  position: relative;
  top: 15px;
}
.nin > p {
  font-size:19px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  font-weight: 500;
  position: relative;
  top: 25px;
}
.fifeLinks {
  position: relative;
  top: 35px;
}

.ten {
    height: 120vh;
    background-color: #E7E9EB;
}
.ten > h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: black;
  text-align: center;
  position: relative;
  top: 60px;
}
.dope {
  font-size:19px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-align: center;
  font-weight: 500;
  position: relative;
  top: 70px;
}
.impImage {
height: auto;
width: 80vw;
margin: auto;
position: relative;
top: 90px;

}
/* add some media query*/
.ele {
    height: 435px;
    background-color: #282A35;
}
.ele > h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: pink;
  position: relative;
  top: 50px;
  left: 50px;
}
.ele > h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 55px;
  font-weight: 800;
  color: pink;
  position: relative;
  top: 100px;
  left: 50px;
  text-align: unset;
}
.ele > a {
  display: block;
  box-sizing: border-box;
  width: 200px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Lexend Exa', sans-serif;
  padding: 16px 16px;
  background-color: #04AA6D;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  position: relative;
  top: 150px;
  left: 50px;
}
@media (max-width: 871px) {
  .ele > h1 {
font-size: 45px;
  }
  .ele > h2 {
font-size: 40px;
  }
  /*add more stuff for proper positioning*/
}
.twe {
    height: 370px;
}
.twe > h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: black;
  text-align: center;
  position: relative;
  top: 120px;
}
.twe > p {
  font-size:19px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-align: center;
  font-weight: 500;
  position: relative;
  top: 130px;
}
.linkk {
  display: block;
  box-sizing: border-box;
  width: 50vw;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Lexend Exa', sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #282A35;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  margin: auto;
  position: relative;
    top: 150px;
}
.thir {
    height: 444px;
    background-color: #282A35;
}
.crazy {
  position: relative;
  top: 50px;
}
.contentOmg {
  list-style-type: none;
display: flex;
background-color: #282A35;
}
.omg {
box-sizing: border-box;
margin: 10px;
    }
.omg a {
  display: block;
box-sizing: border-box;
  color: black;
font-size: 12px;
  padding: 10px 16px;
  text-decoration: none;
  width: 100%;
  font-family: 'Lexend Exa', sans-serif;
background-color: white;
font-weight: 800;
border-radius: 5px;
}
.omg a:hover {
  background-color: #04AA6D;
}
.contentOmg2 {
  float: right;
  margin-top: -100px;
  margin-right: 40px;
list-style-type: none;
display: flex;
width: 180px;
background-color: transparent;
}
.omg2 {
box-sizing: border-box;
margin: 20px;
}
.omg2 a {
display: block;
box-sizing: border-box;
  color: white;
font-size: 12px;
  text-decoration: none;
  width: 100%;
  font-family: 'Lexend Exa', sans-serif;
font-weight: 800;
}
.omg2 a:hover {
color: #04AA6D;
background-color: #282A35;
}
.crazy3 {
  position: relative;
  top: 120px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crazy3 > p {
  font-size: 15px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-left: 25%;
}
.bitch {
  display: block;
  box-sizing: border-box;
    color: white;
  font-size: 12px;
    padding: 10px 16px;
    text-decoration: none;
    width: 50vw;
    font-family: 'Lexend Exa', sans-serif;
  background-color: #04AA6D;
  font-weight: 800;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 180px;
}
/*add some media query*/